input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.cursor{
    cursor:pointer;
}

.display_none{
    display:none !important;
}
.display_block{
    display:block !important;
}

#clearValue{
    margin: 0 0 0 -7px;
}   
.mandatory{
   color: #5ED84F !important;
   display: block;
    margin-bottom: .375rem;
    font-weight: 600;
    font-size: 0.875rem;
}
#summarylist {
    margin: 0 0 0 -7px;
}
.input-group-prepend>.btn, .input-group-append>.btn, .input-group-btn>.btn {
    height: 100%;
    border-color: rgba(0, 40, 100, 0.92);
    background: #fff;
    color:#28afd0 ;
    display: grid;
  }
  .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show>.btn-outline-info.dropdown-toggle{
    height: 100%;
    border-color: rgba(0, 40, 100, 0.92) !important;
    background: #fff !important;
    color:#28afd0 !important;
    display: grid;
  }
  .selected{
    color: #fff !important;
      background-color: #28afd0 !important;
      border-color: #28afd0 !important;
      padding: 3px 19px 9px !important;
      box-shadow: 0 8px 6px -6px black !important;
      display: grid;
  }

  
